mixin card-container()
    .row.card-container
        block

mixin card()
    .col-lg-4.col-md-6
        .card.text-left&attributes(attributes)
            block
            
mixin card-simple(title, href)
    .card-body.card-simple
        h4.card-title
            a(href=href)&attributes(attributes)= title
        block

mixin card-small(title, href)
    .card-body.card-simple
        h5.card-title
            a(href=href)&attributes(attributes)= title
        block

mixin card-timeline(start, end)
    .card-timeline
        .timeline-container
            .progress
                .progress-bar.timeline(role="progressbar" min=start max=end) 

mixin card-icons()
    .card-icons
        block