link(href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet")
link(href="/styles/bootstrap.min.css" rel="stylesheet")
link(href="/styles/open-iconic-bootstrap.css" rel="stylesheet")
link(href="/styles/main.css" rel="stylesheet")
link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css", rel="stylesheet")