extends simple.jade

include ../includes/navbar.jade

block header
    +navbar("ATLAS Hub", "navHeader", "/")(class="noPrint")
        .navbar-nav.mr-auto
            if user
                if homeActive
                    +navbar-a-active("/", "Home")
                else
                    +navbar-a("/", "Home")
                if !user.admin
                    if resultActive
                        +navbar-a-active("/results", "Results")
                    else
                        +navbar-a("/results", "Results")
                +navbar-dropdown("Courses", "courses")
                    for course in courses
                        +dropdown-a("/group/" + course._id, course.name)

        .navbar-nav.ml-auto
            block nav_right

        .my-2.my-lg-0.pl-md-3
            if user
                a.btn.btn-outline-warning.my-2.my-sm-0(href="/auth/logout") Logout
            else 
                a.btn.btn-outline-success.my-2.my-sm-0(href="/auth/google") Login

block content_nouser
    .section-container
        h1 Welcome to the ATLAS Hub!
        p.lead Please 
            a(href="/auth/google") login
            |&nbsp;with your utwente email address first.

block footer
    .container.center.noPrint
        p.small ATLAS Hub v. 0.8 © Rik Mulder 2017