include ../../includes/basic.jade
include ../../includes/accordion.jade

if files.length == 0
    p The student did not hand in any assignments yet!
else 
    for finalFile in files
        - var file = finalFile.file
        .card-holder.col-md-3.col-sm-4.col-xs-6
            .file-card
                a.card(href="/file/" + file._id)
                    if file.assignment
                        if file.assignment.typ == "open" || file.assignment.due > file.timestamp
                            .assignmentStateBulb.back-done
                        else
                            .assignmentStateBulb.back-late
                        if file.feedback.length == 0
                            .assignmentStateFeedback.back-normal
                        else 
                            .assignmentStateFeedback.back-done
                        .yAlign
                            h3.special= file.assignment.name
                            h4#subheadersmall= file.name
                            +timeline(new Date(), new Date(), file.timestamp)(class="hidden")