.section-container {
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}
.btn-section {
  line-height: 1;
  padding: 1.5rem;
  border-radius: 20%;
}
.section-buttons {
  margin-top: 3rem;
}
.btn-card-icon {
  line-height: 1;
  padding: 0.25rem;
  border-radius: 20%;
  font-size: 0.75rem;
  margin: 2px;
  width: 22px;
}
.cpointer {
  cursor: pointer;
}
.card-simple {
  padding-right: 4.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-simple .card-title {
  margin-bottom: 0rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
}
.card-simple .card-title a {
  color: inherit;
}
.card-simple p {
  margin-bottom: 0px;
}
.card-timeline {
  height: 16px;
}
.card-timeline .timeline-container {
  height: 16px;
}
.card-timeline .progress {
  background-color: #343a40;
  color: #fff;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
}
.card-timeline .progress span {
  padding-left: 1.25rem;
  position: absolute;
}
.card-timeline .progress .progress-bar {
  height: 17px;
  line-height: 15px;
}
.card-container {
  margin-top: 1.5rem;
}
.card-container .card {
  margin-top: 15px;
  margin-bottom: 15px;
}
.card .card-icons {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 52px;
  text-align: right;
}
.card-date {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0rem 0rem 0.25rem 0.25rem;
  color: #fff;
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
}
.card-date-sepperator {
  height: 1rem;
}
#addon_courseEnd,
#addon_courseStart {
  width: 95px;
}
.alert p:last-child {
  margin-bottom: 0px;
}
.errors {
  margin-bottom: 0;
}
.bug1 {
  font-size: 4rem;
}
.bug2 {
  font-size: 3rem;
}
.bug3 {
  font-size: 2rem;
}
.bug4 {
  font-size: 1rem;
}
.bug5 {
  font-size: 0.75rem;
}
.bug6 {
  font-size: 0.5rem;
}
.bug7 {
  font-size: 0.25rem;
}
.collapse-button {
  transition: transform 0.4s;
  transform: rotate(180deg);
}
.collapse-button.collapsed {
  transform: rotate(0deg);
}
.right-align {
  text-align: right;
}
.yAlign {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}
.hide {
  display: none;
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center,
#sendButtons {
  text-align: center;
}
body,
html {
  height: 100%;
  box-sizing: border-box;
}
div {
  box-sizing: border-box;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}
.btn:focus,
.btn:active {
  outline: none !important;
}
#content {
  padding-bottom: 80px;
  margin-top: 40px;
}
#footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#upload {
  display: none;
  margin-bottom: 40px;
  margin-top: 20px;
}
#errMessage {
  font-family: Open Sans;
  margin-top: 10px;
  color: #df0000;
  display: none;
}
#uploadButtons {
  margin-top: 10px;
}
#uploadButtons :not(:nth-child(1)) {
  margin-left: 6px;
}
#testResults {
  display: none;
  margin-top: 40px;
}
#studentInfo {
  display: none;
}
textarea {
  min-height: 100px;
}
#sendButtons :not(:nth-child(1)) {
  margin-left: 6px;
}
#partners {
  height: 150px;
}
date {
  cursor: help;
  text-decoration: underline;
}
.fixed240 {
  width: 240px;
}
.fixed180 {
  width: 240px;
}
.top40 {
  margin-top: 40px;
}
.disabled {
  display: none;
}
.failed {
  background-color: #f2dede !important;
}
.passed {
  background-color: #dff0d8 !important;
}
#updateFeadback {
  margin-top: 10px;
}
#feedbackMessage {
  margin-top: 5px;
}
#feedbackMessage.success {
  color: #008000;
}
#feedbackMessage.fail {
  color: #df0000;
}
#welcome_message {
  margin-top: 100px;
  font-size: 18px;
}
#title_header a:hover,
#title_header a:active,
#title_header a:focus {
  text-decoration: none;
}
#title_header {
  margin-top: 10px;
}
#title_header a {
  color: #333;
}
.overviewFile:not(:first-child) {
  page-break-before: always;
}
#errors {
  margin-top: 10px;
}
.col-lg-4.card-holder,
.col-sm-6.card-holder {
  padding: 15px;
}
.mtop25 {
  margin-top: 25px;
}
.mtop20 {
  margin-top: 20px;
}
.mtop15 {
  margin-top: 15px;
}
.mtop10 {
  margin-top: 10px;
}
.mtop5 {
  margin-top: 5px;
}
.mbottom10 {
  margin-bottom: 10px;
}
.mbottom5 {
  margin-bottom: 5px;
}
#userSelect {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 0px;
}
#studentSelect,
#uploadedFilesSelect {
  max-height: 300px;
  overflow: auto;
}
.state-icon {
  left: -5px;
}
.list-group-item-primary {
  color: #fff;
  background-color: #428bca;
}
.checked-list-box {
  margin-bottom: 0px;
}
a:hover,
a:focus {
  text-decoration: none;
}
