ul.simple
    padding 0
    list-style none

.section-container
    page-break-after: always

.onlyPrint
    display none

@media print
    .noPrint
        display none
    .onlyPrint
        display block
